REACT_APP_ITEM_PER_PAGE=100

#Header Values
REACT_APP_XPARSE_APPLICATION_ID=APPLICATION_ID
REACT_APP_XPARSE_REST_API_KEY=REST_KEY
REACT_APP_XPARSE_REVOCABLE_SESSION=1

#API URL
REACT_APP_GRAPHQL_URL=https://qpapi.maitretech.com/graphql
REACT_APP_REST_URL=https://qpapi.maitretech.com/api

# firebase
REACT_APP_FIREBASE_API_KEY=AIzaSyBMTrAkun4A0xF0CWgKb5PETpSIwdL2zO4
REACT_APP_FIREBASE_AUTH_DOMAIN=quantifine-pharmacy.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=quantifine-pharmacy
REACT_APP_FIREBASE_STORAGE_BUCKET=quantifine-pharmacy.appspot.com
REACT_APP_FIREBASE_MESSAGE_SENDER_ID=339140717478
REACT_APP_FIREBASE_APP_ID=1:339140717478:web:efe5660398d963770abd67
REACT_APP_FIREBASE_MEASUREMENT_ID=G-BTY2SGS41P