.lock1{
    position: absolute;
    top: 38.6%;
    left: 83%;
}
.rypconfpasw {
    position: absolute;
    top: 45%;
    left: 60%;
    font-weight: 500;
    color: rgba(8, 33, 97, 0.66);
}
.rypemailinput2{
    position: absolute;
    top: 49%;
    left: 59.5%;
    font-weight: 500;
    width: 25vw;   
    height: 5vh; 
    border: 1px solid rgba(45, 42, 175, 0.19);
    border-radius: 8px;
    text-align: center;
    background-color: #ffffff;
}
.lockpass{
    position: absolute;
    top: 50.5%;
    left: 83%;
}
.ryprestpass{
    position: absolute;
    top: 57.9%;
    left: 59.7%;
    width: 25.3vw;
    height: 5vh;
    background-color: #3F51B5;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
}
.rypecreate{
    position: absolute;
    left: 56.9%;
    top: 12%;
    right: 23.68%;
    bottom: 73.65%;
    color:#082161;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
    text-transform: capitalize;
}
@media only screen and (max-width: 1000px) {
        /* body {
            background-image: url('Rectangle 203.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 1vw;
            height: 1vh;
            } */
        .rypecreate, .enteremail, .enteremail2, .rypemail1, .rypemailinput1, .lock1, .rypconfpasw, .rypemailinput2, .lockpass, .ryprestpass, .forgotlogo{
            display: none;
        }
    }
